@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

$dark-green: rgba(7, 34, 39, 0.9);
$medium-green: rgba(29, 86, 98, 0.9);
$bright-green: #4fbdba;

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

.layout-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.layout-title {
	margin-top: 1.5em;
	pointer-events: none;
	user-select: none;
	font-weight: lighter !important;
	letter-spacing: 1rem !important;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
	-webkit-overflow-scrolling: touch;
}

/* Track */
::-webkit-scrollbar-track {
	background: #213f44;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #4fbdba;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #89c2c1;
}
