$medium-green: #1d5560;
$bright-green: #4fbdba;

$radius: 0.2rem;

.wrapper {
	gap: 2rem;
	width: 64%;
	display: grid;
	padding: 40px;
	border: 2px solid #1d5560;
	background: #072227;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
	position: relative;
	overflow: hidden;
	background: #355b62;
	border-radius: $radius;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: transform 200ms ease-in;

	&-date {
		top: 12px;
		left: 12px;
		position: absolute;
		font-weight: bold;
		padding: 4px 8px;
		border-radius: $radius;
		color: black;
		background-color: white;
	}

	&-image {
		aspect-ratio: 1 / 1;
		width: 100%;
		object-fit: cover;
	}

	&-title {
		padding: 1rem;
		font-size: larger;
		font-weight: bold;
	}

	&-description {
		padding: 0 1rem;
		font-weight: lighter;
	}

	&-button {
		width: initial;
		margin: 1rem;
		padding: 1rem;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50px;
		font-size: 1rem;
		font-weight: bold;
		font-family: inherit;
		color: white;
		background: $bright-green;
		transition: background 200ms ease-in, color 200ms ease-in;
	}

	&:hover {
		transform: scale(1.02);
	}

	&:hover &-button {
		filter: brightness(95%);
		color: white;
	}
}

@media only screen and (max-width: 870px) {
	.wrapper {
		width: 100%;
	}
}

@media only screen and (min-width: 870px) {
	.wrapper {
		width: 90%;
	}
}

@media only screen and (min-width: 1350px) {
	.wrapper {
		width: 84%;
	}
}

@media only screen and (min-width: 1750px) {
	.wrapper {
		width: 74%;
	}
}

@media only screen and (min-width: 1800px) {
	.wrapper {
		width: 64%;
	}
}
