@import "globals";

$radius: 0.2rem;

.cards-container {
	gap: 2rem;
	width: 64%;
	display: grid;
	padding: 40px;
	border: 2px solid $bright-green;
	background: $dark-green;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
	position: relative;
	overflow: hidden;
	background: #355b62;
	border-radius: $radius;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: transform 200ms ease-in;

	&-date {
		// top: 12px;
		// left: 12px;
		// position: absolute;
		// font-weight: bold;
		// padding: 4px 8px;
		// border-radius: $radius;
		// color: black;
		// background-color: white;
		display: flex;
		align-items: center;
		padding: 0.5rem 1rem 0rem 0.8rem;
	}

	&-image {
		aspect-ratio: 1 / 1;
		width: 100%;
		object-fit: cover;
	}

	&-title {
		// padding: 1rem;
		padding: 1rem 1rem 0rem;
		font-size: 22px;
		font-weight: bold;
	}

	&-description {
		padding: 0 1rem;
		font-weight: lighter;
	}

	&-button {
		width: initial;
		margin: 0rem 1rem 1rem;
		padding: 1rem;
		// margin-left: auto;
		// margin-right: auto;
		border-radius: 50px;
		font-size: 1rem;
		font-weight: bold;
		font-family: inherit;
		color: white;
		border: 1px;
		background: $bright-green;
		transition: background 200ms ease-in, color 200ms ease-in;
	}

	&:hover {
		transform: scale(1.02);
	}

	&:hover &-button {
		filter: brightness(95%);
		color: white;
		cursor: pointer;
	}
}

@media only screen and (max-width: 870px) {
	.cards-container {
		width: 100%;
	}
}

@media only screen and (min-width: 870px) {
	.cards-container {
		width: 90%;
	}
}

@media only screen and (min-width: 1350px) {
	.cards-container {
		width: 84%;
	}
}

@media only screen and (min-width: 1550px) {
	.cards-container {
		width: 74%;
	}
}

@media only screen and (min-width: 1700px) {
	.cards-container {
		width: 64%;
	}
}
